# Joining Data in SQL

### Course Description
Now that you've learned the basics of SQL in our Intro to SQL for Data Science course, it's time to supercharge your queries using joins and relational set theory! In this course you'll learn all about the power of joining tables while exploring interesting features of countries and their cities throughout the world. You will master inner and outer joins, as well as self-joins, semi-joins, anti-joins and cross joins - fundamental tools in any PostgreSQL wizard's toolbox. You'll fear set theory no more, after learning all about unions, intersections, and except clauses through easy-to-understand diagrams and examples. Lastly, you'll be introduced to the challenging topic of subqueries. You will see a visual perspective to grasp the ideas throughout the course using the mediums of Venn diagrams and other linking illustrations

### Note how can Resizing plots in the R kernel for Jupyter notebooks
https://blog.revolutionanalytics.com/2015/09/resizing-plots-in-the-r-kernel-for-jupyter-notebooks.html

    library(repr)

    # Change plot size to 4 x 3
    options(repr.plot.width=4, repr.plot.height=3)
    
### Note2 Generate a table 
https://www.tablesgenerator.com/markdown_tables

## 1)Introduction to joins
In this chapter, you'll be introduced to the concept of joining tables, and explore the different ways you can enrich your queries using inner joins and self-joins. You'll also see how to use the case statement to split up a field into different categories.

### 1.1) (video) Introduction to INNER JOIN

    SELECT *
    FROM left_table
      INNER JOIN right_table
        ON left_table.id = right_table.id
      INNER JOIN another_table
        ON left_table.id = another_table.id;
        
### 1.2) (video) INNER JOIN via USING
If both tables have the same column name, through both join we can change the "on" to "using" like:

    SELECT *
    FROM t1
      INNER JOIN t2
        using (id) 

Example:

When joining tables with a common field name, e.g.

    SELECT *
    FROM countries
      INNER JOIN economies
        ON countries.code = economies.code
    You can use USING as a shortcut:

    SELECT *
    FROM countries
      INNER JOIN economies
        USING(code)
You'll now explore how this can be done with the countries and languages tables.

### 1.3) (video) Self-ish joins, just in CASE

## 2) Outer joins and cross joins
In this chapter, you'll come to grips with different kinds of outer joins. You'll learn how to gain further insights into your data through left joins, right joins, and full joins. In addition to outer joins, you'll also work with cross joins.

### 2.1) (video) LEFT and RIGHT JOINs

### 2.2) (video) FULL JOINs
it´s combine a right and left join.

it´s a combination of a LEFT JOIN and RIGHT JOIN showing exactly wich values appear in both tables and those that appear in only one or the other table 

### 2.3) (video) CROSSing the rubicon


## 3) Set theory clauses
In this chapter, you'll learn more about set theory using Venn diagrams and you will be introduced to union, union all, intersect, and except clauses. You'll finish by investigating semi-joins and anti-joins, which provide a nice introduction to subqueries.

### 3.1) State of the UNION
As you saw, duplicates were removed from the previous two exercises by using UNION.

To include duplicates, you can use UNION ALL

### 3.2) INTERSECTional data science ("INTERSECT")


### 3.3) EXCEPTional
Except allows you to include only the records that are no in one table, but no the other 

### 3.4) Semi Join and Anti Join

#### 3.4.1) Diagnosing problems using anti-join
Another powerful join in SQL is the anti-join. It is particularly useful in identifying which records are causing an incorrect number of records to appear in join queries.

You will also see another example of a subquery here, as you saw in the first exercise on semi-joins. Your goal is to identify the currencies used in Oceanian countries!

## 4) Subqueries
In this closing chapter, you'll learn how to use nested queries to add some finesse to your data insights. You'll also wrap all of the content covered throughout this course into solving three challenge problems.

### 4.1)Subqueries inside WHERE and SELECT clauses

### 4.2) Subquery inside FROM clause